:root {
  --main-bg-color: #242829;
  --main-font-color: rgb(200, 195, 188);
  --button-bg-hover: rgb(200, 195, 188);
  --button-font-hover: #242829;
  --board-color: #275355;
  --main-font: 'Roboto', sans-serif;
}

body {
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.board {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: var(--board-color);
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-bottom: 3em;
}

.cell {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80%;
  height: auto;
  position: relative;
  box-sizing: border-box;
}

line {
  stroke-dasharray: 456;
  stroke-dashoffset: 456;
  animation: draw-x 1s ease forwards;
}

line:nth-of-type(2) {
  animation-delay: 0.5s;
}

@keyframes draw-x {
  to {
    stroke-dashoffset: 0;
  }
}

circle {
  stroke-dasharray: 590;
  stroke-dashoffset: 590;
  animation: drawCircle 1s ease forwards;
}

@keyframes drawCircle {
  to {
    stroke-dashoffset: 0;
  }
}


.playerDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
}
.p1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
  border-right: 1px solid var(--main-font-color)
}

.p1 p {
  margin-right: 0.5em;
}

.p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
}

.p2 p {
  margin-right: 0.5em;
}

.circle {
  border-radius: 50%;
  border: 2px solid var(--main-font-color);
  width: 1em;
  height: 1em;
}

.fill {
  background: var(--main-font-color);
}

.play-button {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  border: 1px solid var(--main-font-color);
  padding: 0.5em 1em;
  font-family: var(--main-font);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.play-button:hover {
  background-color: var(--button-bg-hover);
  color: var(--button-font-hover);
}